<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BonCodeAJP13.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BonCodeAJP13.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>8009</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MaxConnections" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FlushThresholdTicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableRemoteAdmin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCompression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableHeaderDataSupport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderBlacklist" serializeAs="String">
                <value>URL,SERVER_SOFTWARE,SERVER_NAME,SERVER_PROTOCOL</value>
            </setting>
            <setting name="HeaderWhitelist" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadTimeOut" serializeAs="String">
                <value>1200000</value>
            </setting>
            <setting name="WriteTimeOut" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="ForceSecureSession" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolveRemoteAddrFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowEmptyHeaders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PathInfoHeader" serializeAs="String">
                <value>xajp-path-info</value>
            </setting>
            <setting name="TomcatConnectErrorURL" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableHTTPStatusCodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TCPClientErrorMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="TCPStreamErrorMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="PathPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="PacketSize" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="EnableAdobeMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableClientFingerPrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>BonCodeAJP13Connection</value>
            </setting>
            <setting name="FPHeaders" serializeAs="String">
                <value>REMOTE_ADDR,HTTP_ACCEPT,HTTP_ACCEPT_CHARSET,HTTP_ACCEPT_ENCODING,HTTP_ACCEPT_LANGUAGE,HTTP_USER_AGENT,UA_CPU,REMOTE_HOST</value>
            </setting>
            <setting name="FlushThresholdBytes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SkipIISCustomErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogIPFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableAggressiveGC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModCFMLSecret" serializeAs="String">
                <value />
            </setting>
        </BonCodeAJP13.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
